@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  margin: 0;
  padding: 0;
}

main{
  display: grid;
  height: 100vh;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr auto;
  grid-template-areas: 
            "nav nav nav nav nav"
            "sidebar main main main main";
  
}


header {
  background-color: greenyellow;
  grid-area: nav;
  
}
aside {
  background-color: cyan;
  grid-area: sidebar;
  margin: 0 0 10px 10px;
 
}
section {
  background-color: red;
  grid-area: main;
  margin: 0 10px 10px 0;
}

