@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  background-color: red;
  height: 9vh;
}

aside {
  background-color: green;
  height: 100%;
}

section {
  background-color: blueviolet;
  height: 100%;
  width: 85vw;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 80px);
  gap: 10px 10px;
}

.main-container {
  display: flex;
  height: 91vh;
}
